@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100&family=Outfit:wght@100;400;500&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir-lt-std");

*{
  padding: 0;
  margin: 0;
}

.hero{
  background-image: url('./hero.jpeg');
}

.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.scrollbar-hide::-webkit-scrollbar{
  display: none;
}

/*
.effect:hover {
  box-shadow: 0 5px 9px 1px rgba(196,196,196,0.4);
}
*/

/*linear-gradient(180deg, rgba(196, 196, 196, 0) 0%, rgba(0, 0, 0, 0.421875) 45.83%, #000000 100%);*/